<div class="container"></div>
<div class="row">
    <div class="col-sm-12 col-lg-8 left bg_color_header header_gap">
        <h1>Big Sky Business Consulting LLC</h1>
        <h5>Est. 2014/sample text</h5>
    </div>
    <div class="col-sm-12 col-lg-4 center header_gap bg_color_header">
        <h2 class="right_padding top_header_padding phone_outline">267-330-9686</h2>
        <hr>
    </div>
</div>